                <li class='list'>
                   <div class="thanx">
                      <div class='item-img-content'>
                        <%= image_tag "sample5.png" %>
                            <div class="text">SAMPLE</div>
                      </div>
                   </div>
                  <div class='item-info'>
                    <h3 class='item-name'>
                        田辺さんを助けに行く<h2>依頼→12月31日に劔神社で初詣の準備を手伝って欲しいです。
                          <span>&#x1f4b0;お小遣い→5000円<br></span>
                    </h3></h2>
                  </div>
                </li>