/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  font-family: "HiraKakuProN-W6" ;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

.a {
	color:black;
}

/* タブレット表示時 未指定 */
@media (max-width: 1024px) {
}

 /* スマホ表示時 未指定 */
 @media (max-width: 599px) {
}

.wrap {
	overflow: hidden;
}


/* ヘッダー */
header {
  height: 50px;
  background-color: white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 2px 20px -5px rgb(0, 191, 45) inset;
}

.heading {
  width: 50%;
  margin-left: 30px;
  font-size: large;
}

.navbar a {
	color:black;
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}



.purchase-btn-icon {
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 親要素 */
.contents {
  background-color: white;
}

/* slide */
/* slideに表示されるユーザー名 */
.slide_name {
	text-align: right;
	margin-right: 30px;
}

.slide_name a {
color: black;
}

/* 画面上部の帯 */
#top_belt { max-width:600px;height:15px;background:rgb(187, 245, 200);margin:0 auto; }
/*スライダー全体のコンテナー*/
#stage {
	position: relative;
	max-width: 660px;
	margin: 0 auto;
	overflow: hidden;
}
/*全ラジオボタンを非表示に*/
#r1,#r2,#r3,#r4,#r5,#back1,#back2,#back3,#back4,#back5,#next1,#next2,#next3,#next4,#next5 {
	display: none;
}
/* 表示切換えボタンと表示位置 */
.circ img {
	position: absolute;
	bottom:2.5%;
	cursor: pointer;
}
#lb1 img { left: 40%;width:3%; }
#lb2 img { left: 43%;width:3%; }
#lb3 img { left: 46%;width:3%; }
#lb4 img { left: 49%;width:3%; }
#lb5 img { left: 52%;width:3%; }
/* 左右送りボタン */
.pb, .nb { color:rgb(187, 245, 200);font-weight:bold; font-size:26px;display:block;position:absolute;top:45%;/*z-index:200;pointer-events:auto;*/}
.pb { left:0%; }
.nb { left:96%; }
.pb:hover, .nb:hover { color:rgb(134, 243, 158); cursor:pointer; }
/* stageが初期サイズ以下のなったときのサイズ */
@media screen and (max-width: 660px) { .pb, .nb { font-size:18px; } }
/*全表示スライドのコンテナー*/
#photos {
	position: absolute;
	width:100%;
	height:90%; /*100%;*/
	left: 4.55%;
	opacity:0;
	/*pointer-events: none;*/
	animation:flowSlides 40s infinite;
}
/* 個々のスライド・現スライド標示ボタン */
.pic {
	position: absolute;
	width:100%;
	height:100%;
	object-fit: cover;
}
.pic img:nth-child(1) { width:90.9%; margin-left:4.55%; }
.pic img:nth-child(2) { width:3%; bottom:-8.5%; /*2.5%;*/ }


/*表示スライドをphotosの中に横並びで一列に並べる*/
#photo1 { left: 0; }
#photo2 { left: 660px; }
#photo3 { left: 1320px; }
#photo4 { left: 1980px; }
#photo5 { left: 2640px; }
/* 写真の下に現スライド標示ボタンを配置 */
#photo1 img:nth-child(2) { position:absolute;left:40%;width:3%; }
#photo2 img:nth-child(2) { position:absolute;left:43%;width:3%; }
#photo3 img:nth-child(2) { position:absolute;left:46%;width:3%; }
#photo4 img:nth-child(2) { position:absolute;left:49%;width:3%; }
#photo5 img:nth-child(2) { position:absolute;left:52%;width:3%; }
/*チェックされたドットに相当するスライドが画面中央になるようにphotosを移動*/
#r1:checked ~ #photos { animation:flowSlides1 40s infinite; animation-delay: 0s; }
#r2:checked ~ #photos { animation:flowSlides2 40s infinite; animation-delay:-8s; }
#r3:checked ~ #photos { animation:flowSlides3 40s infinite; animation-delay:-16s; }
#r4:checked ~ #photos { animation:flowSlides4 40s infinite; animation-delay:-24s; }
#r5:checked ~ #photos { animation:flowSlides5 40s infinite; animation-delay:-32s; }
/* 左右送りボタン */
#back1:checked ~ #photos { animation:flowSlides5 40s infinite; animation-delay:-32s; }
#back2:checked ~ #photos { animation:flowSlides1 40s infinite; animation-delay: 0s; }
#back3:checked ~ #photos { animation:flowSlides2 40s infinite; animation-delay:-8s; }
#back4:checked ~ #photos { animation:flowSlides3 40s infinite; animation-delay:-16s; }
#back5:checked ~ #photos { animation:flowSlides4 40s infinite; animation-delay:-24s; }
#next1:checked ~ #photos { animation:flowSlides2 40s infinite; animation-delay:-8s; }
#next2:checked ~ #photos { animation:flowSlides3 40s infinite; animation-delay:-16s; }
#next3:checked ~ #photos { animation:flowSlides4 40s infinite; animation-delay:-24s; }
#next4:checked ~ #photos { animation:flowSlides5 40s infinite; animation-delay:-32s; }
#next5:checked ~ #photos { animation:flowSlides1 40s infinite; animation-delay: 0s; }
/* 初期スライドショー */
@keyframes flowSlides {
	0% { left:0px; opacity:0; }
	2% { left:0px; opacity:1; }
	18% { left:0px; opacity:1; }
	20% { left:0px; opacity:0; }
	20.01% { left:-660px; opacity:0; }
	22% { left:-660px; opacity:1; }
	38% { left:-660px; opacity:1; }
	40% { left:-660px; opacity:0; }
	40.01% { left:-1320px; opacity:0; }
	42% { left:-1320px; opacity:1; }
	58% { left:-1320px; opacity:1; }
	60% { left:-1320px; opacity:0; }
	60.01% { left:-1980px; opacity:0; }
	62% { left:-1980px; opacity:1; }
	78% { left:-1980px; opacity:1; }
	80% { left:-1980px; opacity:0; }
	80.01% { left:-2640px; opacity:0; }
	82% { left:-2640px; opacity:1; }
	98% { left:-2640px; opacity:1; }
	100% { left:-2640px; opacity:0; }
}
/* 各スライド向けスライドショー */
@keyframes flowSlides1 {
	0% { left:0px; opacity:0; }
	2% { left:0px; opacity:1; }
	18% { left:0px; opacity:1; }
	20% { left:0px; opacity:0; }
	20.01% { left:-660px; opacity:0; }
	22% { left:-660px; opacity:1; }
	38% { left:-660px; opacity:1; }
	40% { left:-660px; opacity:0; }
	40.01% { left:-1320px; opacity:0; }
	42% { left:-1320px; opacity:1; }
	58% { left:-1320px; opacity:1; }
	60% { left:-1320px; opacity:0; }
	60.01% { left:-1980px; opacity:0; }
	62% { left:-1980px; opacity:1; }
	78% { left:-1980px; opacity:1; }
	80% { left:-1980px; opacity:0; }
	80.01% { left:-2640px; opacity:0; }
	82% { left:-2640px; opacity:1; }
	98% { left:-2640px; opacity:1; }
	100% { left:-2640px; opacity:0; }
}
@keyframes flowSlides2 {
	0% { left:0px; opacity:0; }
	2% { left:0px; opacity:1; }
	18% { left:0px; opacity:1; }
	20% { left:0px; opacity:0; }
	20.01% { left:-660px; opacity:0; }
	22% { left:-660px; opacity:1; }
	38% { left:-660px; opacity:1; }
	40% { left:-660px; opacity:0; }
	40.01% { left:-1320px; opacity:0; }
	42% { left:-1320px; opacity:1; }
	58% { left:-1320px; opacity:1; }
	60% { left:-1320px; opacity:0; }
	60.01% { left:-1980px; opacity:0; }
	62% { left:-1980px; opacity:1; }
	78% { left:-1980px; opacity:1; }
	80% { left:-1980px; opacity:0; }
	80.01% { left:-2640px; opacity:0; }
	82% { left:-2640px; opacity:1; }
	98% { left:-2640px; opacity:1; }
	100% { left:-2640px; opacity:0; }
}
@keyframes flowSlides3 {
	0% { left:0px; opacity:0; }
	2% { left:0px; opacity:1; }
	18% { left:0px; opacity:1; }
	20% { left:0px; opacity:0; }
	20.01% { left:-660px; opacity:0; }
	22% { left:-660px; opacity:1; }
	38% { left:-660px; opacity:1; }
	40% { left:-660px; opacity:0; }
	40.01% { left:-1320px; opacity:0; }
	42% { left:-1320px; opacity:1; }
	58% { left:-1320px; opacity:1; }
	60% { left:-1320px; opacity:0; }
	60.01% { left:-1980px; opacity:0; }
	62% { left:-1980px; opacity:1; }
	78% { left:-1980px; opacity:1; }
	80% { left:-1980px; opacity:0; }
	80.01% { left:-2640px; opacity:0; }
	82% { left:-2640px; opacity:1; }
	98% { left:-2640px; opacity:1; }
	100% { left:-2640px; opacity:0; }
}
@keyframes flowSlides4 {
	0% { left:0px; opacity:0; }
	2% { left:0px; opacity:1; }
	18% { left:0px; opacity:1; }
	20% { left:0px; opacity:0; }
	20.01% { left:-660px; opacity:0; }
	22% { left:-660px; opacity:1; }
	38% { left:-660px; opacity:1; }
	40% { left:-660px; opacity:0; }
	40.01% { left:-1320px; opacity:0; }
	42% { left:-1320px; opacity:1; }
	58% { left:-1320px; opacity:1; }
	60% { left:-1320px; opacity:0; }
	60.01% { left:-1980px; opacity:0; }
	62% { left:-1980px; opacity:1; }
	78% { left:-1980px; opacity:1; }
	80% { left:-1980px; opacity:0; }
	80.01% { left:-2640px; opacity:0; }
	82% { left:-2640px; opacity:1; }
	98% { left:-2640px; opacity:1; }
	100% { left:-2640px; opacity:0; }
}
@keyframes flowSlides5 {
	0% { left:0px; opacity:0; }
	2% { left:0px; opacity:1; }
	18% { left:0px; opacity:1; }
	20% { left:0px; opacity:0; }
	20.01% { left:-660px; opacity:0; }
	22% { left:-660px; opacity:1; }
	38% { left:-660px; opacity:1; }
	40% { left:-660px; opacity:0; }
	40.01% { left:-1320px; opacity:0; }
	42% { left:-1320px; opacity:1; }
	58% { left:-1320px; opacity:1; }
	60% { left:-1320px; opacity:0; }
	60.01% { left:-1980px; opacity:0; }
	62% { left:-1980px; opacity:1; }
	78% { left:-1980px; opacity:1; }
	80% { left:-1980px; opacity:0; }
	80.01% { left:-2640px; opacity:0; }
	82% { left:-2640px; opacity:1; }
	98% { left:-2640px; opacity:1; }
	100% { left:-2640px; opacity:0; }
}

.messages {
	width: 100%;
	display: inline;
  justify-content: center;
}

.message {
  display: flex;
  font-size: 18px;
	margin: 0 0 10px 330px;
}

.message-date {
	padding: 0 15px 15px 40px;
	display: inline;
}

/* 最近のありがとう */
.middle-content{
  height: 450px;
  margin: 0 160px;
}
.stylist-list {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.stylist-image {
  height: 300px;
}

.stylist-name {
  font-size: 16px;
  text-align: center;
}

/* フォーム */
.bottom-content {
  height: 800px ;
  margin: 0 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-field, .large-field {
  width: 800px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #b5aaaa;
  display: block;
}

.small-field {
  margin: 0 auto 15px;
}

.large-field {
  height: 200px;
  margin: 0 auto 30px;
}

.send {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: rgb(0, 191, 45);
  color:white;
	display: block;
}


/* //みんなのお手伝い以降 */

.list {
  margin-left: 15px ;
}

.item-lists {
  height: 600px;
  overflow: scroll;
  white-space:nowrap;
}



.item-lists>.list {
  background-color: #FFF;
  justify-content: center;
  margin-bottom: 100px;
}



.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* フッター */
footer {
  height: 50px;
  background-color: #f0f0f0;
  text-align: center;
  color: gray;
}


/* ユーザーページ */
.user__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__wrapper a {
	color:black;
}

.list {
  flex-direction: column;
  align-items: center;
  padding: 20px 210px;
}


.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* 依頼完了 */

.thanx {
	width:		100%;
	margin:		0;
	padding:	0;
	position:	relative;
	overflow:	hidden;
}
.thanx video {
	width:		100%;
}
.text {
	position:	absolute;
	width:		100%;
	height:		15%;
  font-size: 1.5rem; 
  font-weight: bold; 
  text-shadow: 0 0 16px #000000, 0 0 16px #000000; 
	text-align:	center;
	top:		0px;
	margin:		0;
	color:		#fff;
	background:	rgba(247, 136, 210, 0.4);
	animation: 	slide 5s ease-out 1s infinite alternate;
}
@keyframes slide {
	0% { top:	0px; }
	100% { top:	78%; }
}

/* girlアイコン */

.girl_talk_set {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.girl_talk {
  position: relative; /* 三角の位置を固定するために設定 */
  display: inline-block;
  max-width: 300px;
  margin: 10px 20px 20px; /* 上 左右 下のマージン */
  padding: 8px 15px; /* ふきだし内の余白 */
  background: rgba(247, 136, 210, 0.4); /* 背景色 */
  text-align: left; /* テキストの揃え */
  border-radius: 15px;
}
.girl_talk::after {
  content: '';
  border: 14px solid transparent;
  border-top-color: rgba(247, 136, 210, 0.4);
  position: absolute;
  top: 0;
  left: -10px;
}

.girl_talk a {
	color:black;
}

.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 6px rgba(247, 136, 210, 0.4);
  overflow: hidden;
}

.girl_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* リンク付ボタン */

a.btn--yellow {
  color: #000;
  background-color: rgba(247, 136, 210, 0.4); 
  border-bottom: 5px solid rgba(247, 136, 210, 0.4); 
  font-size: large;
}

a.btn--yellow:hover {
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  color: #fff;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

/* aタグのホバー色*/

a{
  transition: color 0.3s;
}

a:hover{
  color :rgba(247, 136, 210, 0.4); 
}


/* comment要素位置調整*/


.comment_left {
	margin-right: 51%;
}

.comment a {
	color:black;
}

.comment a:hover{
  color :rgba(247, 136, 210, 0.4); 
}

/* すけっとガイド*/
.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	font-family: 'FontAwesome', sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa dt {
	position: relative;
	margin: 0 0 1.5em 0;
}
.cp_qa dd {
	position: relative;
	margin: 0 0 2em 0;
	padding: 0 0 1.5em 2em;
	border-bottom: 1px dotted #0097a7;
}
.cp_qa dt::before, .cp_qa dd::before {
	font-size: 1.2em;
	margin: 0 0.5em 0 0;
	color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	line-height: 1.2em;
}
.cp_qa dt::before {
	padding: 0.1em 0.3em;
	content: '\f128';
	background: rgba(247, 136, 210, 0.4);
}
.cp_qa dd::before {
	padding: 0.12em 0.45em;
	content: '\f12a';
	background: #0097a7;
}
.cp_qa dt::after, .cp_qa dd::after {
	position: absolute;
	top: 0.5em;
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	border-width: 5px 0 5px 5px;
	border-style: solid;
}
.cp_qa dt::after {
	left: 1.5em;
	border-color: transparent transparent transparent rgba(247, 136, 210, 0.4);
}
.cp_qa dd::after {
	left: 3.5em;
	border-color: transparent transparent transparent #0097a7;
}

/* /backボタン */

.guide-botann {
	display: flex;
	align-items: center;
}

.back-botann {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 10px 3%;
  text-decoration: none;
}

/* /girlトーク */

.girl_left {
}

