/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}


/* ヘッダー */
header {
  height: 50px;
  background-color: white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heading {
  width: 50%;
  margin-left: 30px;
  font-size: large;
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.purchase-btn-icon {
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 親要素 */
.contents {
  background-color: white;
}

.first-view{
  height: 60vh;
}

.top-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 30px rgb(0, 191, 45);
  object-fit: cover;
  align-items: center;
}

.heading-name {
  text-align: center;
  border-bottom: double 10px rgb(0, 191, 45);
  width: 200px;
  margin: 40px auto;
}

.messages {
  width: 50vw;
  margin: 0 auto;
}

.message {
  display: flex;
  font-size: 18px;
  margin: 0 0 16px 70px;
}

.message-date {
  padding-right: 40px;
}

/* 最近のありがとう */
.middle-content{
  height: 450px;
  margin: 0 160px;
}
.stylist-list {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.stylist-image {
  height: 300px;
}

.stylist-name {
  font-size: 16px;
  text-align: center;
}

/* フォーム */
.bottom-content {
  height: 800px ;
  margin: 0 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-field, .large-field {
  width: 800px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #b5aaaa;
  display: block;
}

.small-field {
  margin: 0 auto 15px;
}

.large-field {
  height: 200px;
  margin: 0 auto 30px;
}

.send {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: rgb(0, 191, 45);
  color:white;
  display: block;
}


/* //みんなのお手伝い以降 */

.item-lists {
  height: 600px;
  overflow: scroll;
  white-space:nowrap;
}


.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 330px 100px 0;
  
}

.item-lists>.list {
  background-color: #FFF;
  justify-content: center;
  margin-bottom: 100px;
}

.item-img-content video {
  width: 100%;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* フッター */
footer {
  height: 50px;
  background-color: #f0f0f0;
  text-align: center;
  color: gray;
}


/* ユーザーページ */
.user__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 30px rgb(0, 191, 45);
}

.list {
  flex-direction: column;
  align-items: center;
  padding: 20px 210px;

}


.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* 投稿詳細ページ */


.thanx {
	width:		100%;
	margin:		0;
	padding:	0;
	position:	relative;
	overflow:	hidden;
}
.thanx video {
	width:		100%;
}
.text {
	position:	absolute;
	width:		100%;
	height:		20%;
  font-size: 2.5rem; 
  font-weight: bold; 
  text-shadow: 0 0 16px #000000, 0 0 16px #000000; 
	text-align:	center;
	top:		0px;
	margin:		0;
	color:		#fff;
	background:	rgba(247, 136, 210, 0.4);
	animation: 	slide 5s ease-out 1s infinite alternate;
}
@keyframes slide {
	0% { top:	0px; }
	100% { top:	78%; }
}

/* girlセリフ */

.girl_talk_set {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.girl_talk {
  position: relative; /* 三角の位置を固定するために設定 */
  display: inline-block;
  max-width: 300px;
  margin: 10px 20px 20px; /* 上 左右 下のマージン */
  padding: 8px 15px; /* ふきだし内の余白 */
  background: rgba(247, 136, 210, 0.4); /* 背景色 */
  text-align: left; /* テキストの揃え */
  border-radius: 15px;
}
.girl_talk::after {
  content: '';
  border: 14px solid transparent;
  border-top-color: rgba(247, 136, 210, 0.4);
  position: absolute;
  top: 0;
  left: -10px;
}
 
.icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 6px rgba(247, 136, 210, 0.4);
  overflow: hidden;
}

.girl_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.btn--yellow {
  color: #000;
  background-color: rgba(247, 136, 210, 0.4); 
  border-bottom: 5px solid rgba(247, 136, 210, 0.4); 
  font-size: large;
}