<body>
  <%= render "shared/header" %>
    <p>
      <div class="girl_left">
        <div class="girl_talk_set">
          <div class="icon-box">
            <%= image_tag "girl.png", size: '40x40'  ,class:"girl-icon" %>
          </div>
            <div class="girl_talk">すけっとガイド</div>
          </div>
        </div>
    </p>
  <div class="cp_qa">
  <dl>
	  <dt>ユーザー登録/ログイン/ログアウトの方法</dt>
	  <dd>ページの上部ヘッダーから新規登録/ログイン/ログアウトをクリックして登録</dd>
	  <dt>ユーザー情報の編集方法</dt>
	  <dd>ページ上部のヘッダーから「◯◯さんのページ」をクリックして、プロフィール表示欄の編集ボタンをクリック</dd>
    <dt>お手伝いを投稿する方法</dt>
	  <dd>ページ下部の投稿アイコンをクリックして、投稿画面に移動し、内容を入力後に投稿ボタンをクリック</dd>
    <dt>お手伝いを編集/削除する方法</dt>
	  <dd>投稿されたお手伝いタイトルをクリックして、投稿の詳細画面に移動し、お手伝いタイトル横の編集/削除ボタンをクリック</dd>
    <dt>コメントを投稿/削除する方法</dt>
	  <dd>投稿されたお手伝いタイトルをクリックして、投稿の詳細画面に移動し、トークルームで操作</dd>
    <dt>依頼者の流れ</dt>
	  <dd>投稿→やり取り→お手伝い→依頼完了ボタンをクリック→クレジットカード登録→依頼完了ボタンをクリック→完了</dd>
    <dt>すけっとの流れ</dt>
	  <dd>やり取り→お手伝い→お小遣い受け取り</dd>
    <dt>依頼者/すけっとの流れ</dt>
	  <dd>お手伝い完了後には投稿動画に「お手伝いありがとう」とメッセージが出る。下記の「みんなのありがとうに投稿するをクリックすると様子がトップページにてシェアされる。</dd>
  </dl>
  </div>
    <div class="guide-botann">
      <%=link_to 'もどる', :back, class:"back-botann" %>
    </div>
  <%= render "shared/footer" %>
</body>