<body>
  <%= render "shared/header" %>
    <p>
      <div class="girl_left">
        <div class="girl_talk_set">
          <div class="icon-box">
            <%= image_tag "girl.png", size: '40x40'  ,class:"girl-icon" %>
          </div>
            <div class="girl_talk">すけっとガイド</div>
          </div>
        </div>
    </p>
  <div class="cp_qa">
  <dl>
	  <dt>ユーザー登録/ログイン/ログアウトの方法</dt>
	  <dd>ページの上部ヘッダー「新規登録/ログイン/ログアウト」クリック→入力→登録</dd>

	  <dt>ユーザー情報の編集方法</dt>
	  <dd>ページ上部のヘッダー「◯◯さんのページ」クリック→プロフィール表示欄「編集」クリック</dd>

    <dt>お手伝いを投稿する方法</dt>
	  <dd>ページ下部の「カメラアイコン」クリック→投稿画面に移動→「依頼する」クリック</dd>

    <dt>お手伝いを編集/削除する方法</dt>
	  <dd>依頼された「お手伝いタイトル」クリック→依頼詳細画面に移動→お手伝いタイトル横「編集/削除」クリック</dd>

    <dt>コメントを投稿/削除する方法</dt>
	  <dd>依頼された「お手伝いタイトル」クリック→依頼詳細画面に移動→「トークルーム」</dd>


    <dt>依頼者の流れ</dt>
	  <dd>依頼→「トークルーム」→お手伝い→「依頼完了」クリック→クレジットカード登録→「依頼完了」再度クリック→完了</dd>

    <dt>すけっとの流れ</dt>
	  <dd>「トークルーム」→お手伝い→お小遣い受け取り</dd>

    <dt>依頼者/すけっと共通の流れ</dt>
	  <dd>お手伝い完了後→投稿動画に「お手伝いありがとう」とメッセージ→「みんなのありがとうに投稿する」クリック→トップページで当日の様子をシェア</dd>
  </dl>
  </div>
    <div class="guide-botann">
      <%=link_to 'もどる', :back, class:"back-botann" %>
    </div>
  <%= render "shared/footer" %>
</body>